
.block_shop{
	position: absolute;
	padding: 0;
	width: 370px;
	height: 551px;
	left: 127px;
	top: 84px;
	background: #F9E88E;
	border-radius: 4px;
}

.block_person{
	position: absolute;
	width: 370px;
	height: 551px;
	left: 527px;
	top: 84px;
	background: #F9E78E;
	border-radius: 4px;
}

.block_title{
	position: absolute;
	width: 64px;
	height: 28px;
	left: 153px;
	top: 27px;

	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}


.title{
	position: absolute;
	width: 59px;
	height: 36px;
	left: 50px;

	line-height: 16px;
	display: flex;
	align-items: center;
}

.select{
	position: absolute;
	width: 190px;
	height: 36px;
	left: 130px;

	background: #FFFFFF;
	border: 1px solid #727272;
	box-sizing: border-box;
	border-radius: 4px;
}


.hemlet_title, .hemlet_select{
	top: 93px;
}

.chest_title, .chest_select{
	top: 149px;
}

.gloves_title, .gloves_select{
	top: 205px;
}

.boots_title, .boots_select{
	top: 261px;
}

.sword_title, .sword_select{
	top: 317px;
}

.vector{
	position: absolute;
	width: 270px;
	height: 0px;
	left: 50px;
	top: 378px;

	border: 1px solid #727272;
}

.equipment_cost{
	position: absolute;
	width: 270px;
	height: 36px;
	left: 50px;
	top: 403px;

	line-height: 16px;
	display: flex;
	align-items: center;
}

.hero_image{
	position: absolute;
	width: 135px;
	height: 317px;
	left: 118px;
	top: 41px;
}

.name_title{
	position: absolute;
	width: 41px;
	height: 16px;
	left: 80px;
	top: 394px;

	line-height: 16px;
	display: flex;
	align-items: center;
}

.name{
	position: absolute;
	width: 30px;
	height: 16px;
	left: 160px;
	top: 394px;

	line-height: 16px;
	display: flex;
	align-items: center;
}

.stats_title{
	position: absolute;
	width: 41px;
	height: 16px;
	left: 80px;
	top: 430px;

	line-height: 16px;
	display: flex;
	align-items: center;
}

.stats{
	position: absolute;
	width: 24px;
	height: 16px;
	left: 160px;

	line-height: 16px;
	display: flex;
	align-items: center;
}

.stats_health{
	top: 430px;
}

.stats_guard{
	top: 456px;
}

.stats_attack{
	top: 482px;
}

.symbol_health{
	position: absolute;
	width: 16px;
	height: 14px;
	left: 210px;
	top: 431px;
}

.symbol_guard1{
	position: absolute;
	width: 16px;
	height: 14px;
	left: 210px;
	top: 455px;
}

.symbol_guard2{
	position: absolute;
	width: 16px;
	height: 14px;
	top: 456px;
	left: 218.5px;

}

.symbol_attack{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 207px;
	top: 480px;
}

.hero_helmet_image{
	position: absolute;
	left: 15px;
}

.hero_chests_image{
	position: absolute;
	left: 18px;
	top: 90px;
}

.hero_gloves_image{
	position: absolute;
	left: -30px;
	top: 160px;
	height: 100px;
	z-index: 3;
}

.hero_boots_image{
	position: absolute;
	left: 0px;
	top: 250px;
	z-index: 1;
}

.hero_sword_image{
	position: absolute;
	left: -60px;
	top: 220px;
	z-index: 2;
	width: 200px;

}
